body {
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: #000;
    color: #fff;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.site-name {
    font-size: 28px;
}

.navbar {
    list-style: none;
    padding: 0;
    margin: 0;
}

.navbar li {
    display: inline;
    margin-right: 20px;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

body {
    margin: 0;
    min-width: 250px;
}

.myUL {
    box-sizing: border-box;
}

.addBtn {
    box-sizing: border-box;
}

.myLI {
    box-sizing: border-box;
}

input {
    box-sizing: border-box;
}

ul {
    margin: 0;
    padding: 0;
}


.myUL {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.myLI {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    list-style-type: none;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.myUL:nth-child(odd) {
    background: #f9f9f9;
}

.myLI:nth-child(odd) {
    background: #f9f9f9;
}

myUL:hover {
    background: #ddd;
}

myLI:hover {
    background: #ddd;
}

ul li.checked {
    background: #888;
    color: #fff;
    text-decoration: line-through;
}

ul li.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;

}

.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}

.close:hover {
    background-color: #f44336;
    color: white;
}

.header {
    background-color: #5A5A5A;
    padding: 30px 40px;
    color: white;
    text-align: center;
}

.header:after {
    content: "";
    display: table;
    clear: both;
}
    
input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
}

.addBtn {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 0;
}

.addBtn:hover {
    background-color: #bbb;
}

.sticky-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 10px 0;
}